body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
  }

  header {
	background-color: #74AA9C;
	color: white;
	padding: 20px;
	text-align: center;
}
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
  }


  .card {
    background-color: transparent;
    box-shadow: none;
    margin: 0 auto 40px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .card h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .card p {
    font-size: 15px;
    margin-bottom: 40px;
  }
  
  .card a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }

  .card a.button {
    background-color: #74AA9C;
    color: #fff;
    font-size: 16px;
  }
  
  .card a:hover {
    background-color: #555;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card-container .card {
    width: 20%;
    margin: 20px;
  }

  .card-container .card a {
    background-color: #74AA9C;
    color: #fff;
    font-size: 13px;
  }
  
  

  @media screen and (max-width: 768px) {
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 24px;
    }
    
    .card p {
      font-size: 16px;
    }
    
    .card a {
      font-size: 16px;
      padding: 10px 20px;
    }
    
    .card-container .card {
      width: 80%;
    }
  }
  
  
  footer {
    background-color: #74AA9C;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  