{% extends "base.html" %}

{% block title %}
    How to Use
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_how_to_use.css') }}">
{% endblock %}

{% block content %}
<main id="main">

  <!--==========================
      How to Use Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>How to Use</h2>
          <p>Personalized English Learning is a web-based English language learning application that utilizes AI models to interact with users. The application is designed to be interactive, adaptive, personalizing the English learning process according to the user's abilities.</p>
        </div>
    
        <div class="row">
          <div class="col-lg-12">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-language"></i></div>
              <h4 class="title"><a href="">Learning</a></h4>
              <p class="description text-justify">
                The main feature of the application is the learning, which consists of three modes:<br><br>
                1. Pronunciation, Speaking, and Conversation<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- Users can practice pronunciation, speaking skills, and engage in conversational exercises.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- The chatbot system is set up with specific prompts to facilitate learning in this mode.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- The mode focuses on improving pronunciation and conversation skills.<br><br>
                2. Context, Vocabulary, and Grammar<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- Users can learn English within specific contexts, enhance vocabulary, and improve grammar usage.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- The chatbot system utilizes prompts tailored to this mode.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- The mode emphasizes understanding context, expanding vocabulary, and mastering grammar.<br><br>
                3. Reading and Writing<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- Users can enhance their reading and writing skills through various exercises and prompts.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- The chatbot system provides prompts specific to reading and writing activities.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;- The mode focuses on improving reading comprehension and written expression.
              </p>
            </div>
          </div>
        </div>
        
    
        <div class="row">
          <div class="col-lg-12">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-pencil"></i></div>
              <h4 class="title"><a href="">Placement Test</a></h4>
              <p class="description text-justify">The application includes a Placement Test feature to determine the user's English proficiency level. The Placement Test consists of three sections, aligned with the learning modes, each containing ten questions. The question types include multiple-choice, fill-in, and essay. The test is time-limited to 30 minutes. At the end of the test, the user receives a result indicating their English level and feedback on their performance. The placement test result is stored and utilized by the model for personalized learning.</p>
            </div>
          </div>
        </div>
    
        <div class="row">
    
          <div class="col-lg-12">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="">Study Plan</a></h4>
              <p class="description">The application also offers a Study Plan feature that allows users to create a customized learning plan based on their English level, goals, and schedule. The Study Plan generates a text-based plan using prompts generated by the model. The study plan is stored and used by the model for personalized learning.</p>
            </div>
          </div>
    
        </div>
    
      </div>
    </section><!-- #How to Use -->
    
  
  
</main>
{% endblock %}


{% block scripts %}
{% endblock %}
