<!DOCTYPE html>
<html>
  <head>
    <title>Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_learning.css') }}">
  </head>
  
  <body>

    <main>
      <div id="chatbot">

        <div class="tabs">
          <button class="tablink active" onclick="openTab(event, 'pronunciation')" data-mode="pronunciation">Pronunciation, Speaking, and Conversation</button>
          <button class="tablink" onclick="openTab(event, 'context')" data-mode="context">Context, Vocabulary, and Grammar</button>
          <button class="tablink" onclick="openTab(event, 'reading')" data-mode="reading">Reading and Writing</button>
        </div>
        
        <div class="conversation-container">
          <div class="conversation active" id="pronunciation">
            <div class="message bot">Welcome to Pronunciation, Speaking, and Conversation mode!<br>How can I assist you today?</div>
          </div>
          <div class="conversation" id="context">
            <div class="message bot">Welcome to Context, Vocabulary, and Grammar mode!<br>How can I assist you today?</div>
          </div>
          <div class="conversation" id="reading">
            <div class="message bot">Welcome to Reading and Writing mode!<br>How can I assist you today?</div>
          </div>
          <div class="loader-container"></div>
    
          <form id="user-form">
            <div id="user-input-container">
              <div class="message-options">
                <select id="message-options-dropdown">
                  <option value="">Select a prompt</option>
                  <option value="Explain who are you and what can you do?">Explain who are you and what can you do?</option>
                  <option value="Let's have a conversation about ...">Let's have a conversation about ...</option>
                  <option value="Let's have a conversation about ... and suggest different vocabularies">Let's have a conversation about ... and suggest different vocabularies</option>
                  <option value="Let's have a conversation about ... and correct my mistakes">Let's have a conversation about ... and correct my mistakes</option>
                  <option value="Write a conversation about ...">Write a conversation about ...</option>
                  <option value="Write a conversation between ...">Write a conversation between ...</option>
                  <option value="Let's simulate a interview for">Let's simulate an interview for</option>
                  <option value="Give me a training">Give me a training</option>
                  <option value="Give me feedbacks">Give me feedbacks</option>
                </select>
              </div>
              <textarea name="user_input" id="user-input" placeholder="Type your message here..."></textarea>
              <input type="hidden" name="mode" id="mode" value="pronunciation">              
            </div>
            <button type="submit">Send</button>
          </form>
          
    
          <button id="exit-button" class="exit-button">Exit</button>
          <div id="alert-dialog" class="hide">
            <div id="alert-message">Are you sure you want to end learning?</div>
            <div id="alert-buttons">
              <button id="alert-ok">End Learning</button>
              <button id="alert-cancel">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    </main>
    

    <script src="{{ url_for('static', filename='js/script_learning.js') }}"></script>
  
  </body>
</html>
