<!DOCTYPE html>
<html>
  <head>
    <title>Learning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exit_button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_learning.css') }}">
  </head>
  
  <body>

    <main>
      <div id="chatbot">

        <div class="tabs">
          <button class="tablink active" data-mode="pronunciation">Pronunciation, Speaking, and Conversation</button>
          <button class="tablink" data-mode="context">Context, Vocabulary, and Grammar</button>
          <button class="tablink" data-mode="reading">Reading and Writing</button>
        </div>
        
        <div class="conversation-container">
          <div class="conversation active" id="pronunciation">
            <div class="message bot">Hi {{name}}! {{english_level}}</div>
            <div class="message bot">Welcome to Pronunciation, Speaking, and Conversation mode!<br>How can I assist you today?</div>
          </div>
          <div class="conversation" id="context">
            <div class="message bot">Hi {{name}}! {{english_level}}</div>
            <div class="message bot">Welcome to Context, Vocabulary, and Grammar mode!<br>How can I assist you today?</div>
          </div>
          <div class="conversation" id="reading">
            <div class="message bot">Hi {{name}}! {{english_level}}</div>
            <div class="message bot">Welcome to Reading and Writing mode!<br>How can I assist you today?</div>
          </div>
          <div class="loader-container"></div>
    
          <form id="user-form">
            <div id="user-input-container">
              <div class="message-options">
                <select id="message-options-dropdown">
                </select>
              </div>
              <textarea name="user_input" id="user-input" placeholder="Type your message here..."></textarea>
              <input type="hidden" name="mode" id="mode" value="pronunciation">              
            </div>
            <button type="submit">Send</button>
          </form>
          
          
          <button id="exit-button" class="exit-button">Exit</button>
          <div id="alert-exit-dialog" class="hide">
            <div id="alert-exit-message">Are you sure you want to exit?</div>
            <div id="alert-exit-buttons">
              <button id="alert-exit-ok">Yes</button>
              <button id="alert-exit-cancel">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
    </main>
    

    <script type="module" src="{{ url_for('static', filename='js/script_learning.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exit_button.js') }}"></script>
  
  </body>
</html>
