{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_profile.css') }}">
{% endblock %}

{% block content %}
<main>
    <section id="contact" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Profile</h2>
            </div>
        </div>
        <div id="profile-card" class="profile-card">
            <div class="profile-container-left">
                <div class="centered-content">
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='img/profile_icon.png') }}" alt="Profile Photo">
                    </div>
                    <div class="profile-details">
                        <h2 id="user-name">{{ name }}</h2>
                        <p id="english-level">{{ english_level|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="profile-container-right">
                <section class="account-section">
                    <h4>Account:</h4>
                    <p>Email: {{ email }}</p>
                    <p>Phone: {{ phone }}</p>
                    <p>Joined Date: {{ joined_date }}</p>
                </section>
                <section class="tokens-section">
                    <h4>Tokens:</h4>
                    <p>Tokens Had: {{ tokens_had }}</p>
                    <p>Tokens Used: {{ tokens_used }} </p>
                    <p><small id="small-note"><em>
                        Note: 
                        <br> - You use tokens to learn with AI 
                        <br> - You will get free 10k tokens per hour up to 100k tokens
                        </em></small>
                    </p>
                </section>
            </div>
        </div>
    
        <div class="profile-card">
            <div class="history-container">
                <h3>Placement Test History:</h3>
                <div class="bubble-container">
                    <div class="bubble">
                        <p>
                            Date: {{ placement_test_date }} 
                            <br> English Level: {{ placement_test_english_level }}
                        </p>
                        <p>{{ placement_test_result|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="profile-card">
            <div class="history-container">
                <h3>Study Plan History:</h3>
                <div class="bubble-container">
                    <div class="bubble">
                        <p>Date: {{ study_plan_date }}</p>
                        <p>{{ study_plan|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


</main>
{% endblock %}


{% block scripts %}

{% endblock %}
