<!DOCTYPE html>
<html>
  <head>
    <title>Study Plan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exit_button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_study_plan.css') }}">
    
  </head>
  <body>

    <main>
        <div class="container">
          <div id="success-container">
            <p id="success-message">Study plan saved successfully!</p>
          </div>
            
            <form id="study-plan-form">
                <div class="form-container">
                    
                        <div class="left-input">
                            <!-- English Level -->
                            <label for="english-level">English Level:</label>
                            <select id="english-level" name="english-level">
                            <option value="">Select English Level</option>
                            <option value="Unknown">Unknown</option>
                            <option value="A1 (Beginner)">A1 (Beginner)</option>
                            <option value="A2 (Elementary)">A2 (Elementary)</option>
                            <option value="B1 (Intermediate)">B1 (Intermediate)</option>
                            <option value="B2 (Upper Intermediate)">B2 (Upper Intermediate)</option>
                            <option value="C1 (Advanced)">C1 (Advanced)</option>
                            <option value="C2 (Proficient)">C2 (Proficient)</option>
                            </select>
                            
                            <!-- Goals -->
                            <label for="goals">Goals:</label><br>
                            <div id="'goals-option" style="margin-left: 20px;"> 
                              <input type="checkbox" id="pronunciation" name="goals[]" value="pronunciation">
                              <label for="pronunciation" style="font-weight: normal;">Pronunciation</label><br>
                              <input type="checkbox" id="speaking" name="goals[]" value="speaking">
                              <label for="speaking" style="font-weight: normal;">Speaking</label><br>
                              <input type="checkbox" id="conversation" name="goals[]" value="conversation">
                              <label for="conversation" style="font-weight: normal;">Conversation</label><br>
                              <input type="checkbox" id="context" name="goals[]" value="context">
                              <label for="context" style="font-weight: normal;">Context</label><br>
                              <input type="checkbox" id="vocabulary" name="goals[]" value="vocabulary">
                              <label for="vocabulary" style="font-weight: normal;">Vocabulary</label><br>
                              <input type="checkbox" id="grammar" name="goals[]" value="grammar">
                              <label for="grammar" style="font-weight: normal;">Grammar</label><br>
                              <input type="checkbox" id="reading" name="goals[]" value="reading">
                              <label for="reading" style="font-weight: normal;">Reading</label><br>
                              <input type="checkbox" id="writing" name="goals[]" value="writing">
                              <label for="writing" style="font-weight: normal;">Writing</label><br>
                              <input type="checkbox" id="other" name="goals[]" value="other">
                              <label for="other" style="font-weight: normal;">Other:</label>
                              <input type="text" id="other-input" name="other-input" size="20">
                            </div>
                        
                        </div>
    
                        <div class="right-input">
                            <label for="start-date">Start Date:</label>
                            <input type="date" id="start-date" name="start-date">
    
                            <label for="end-date">End Date:</label>
                            <input type="date" id="end-date" name="end-date">
                            
                            <label for="days">Days per week:</label>
                            <input type="number" id="days" name="days" placeholder="Enter number of days per week">
    
                            <label for="hours">Hours per day:</label>
                            <input type="number" id="hours" name="hours" placeholder="Enter number of hours per day">
                            
                            <button id="submit-button" class="submit-button">Create</button>

                        </div>

                </div>
            </form>
          
            <div class="loader-container"></div>

          <div class="plan-container"> 

            <div id="success-container">
              <p id="success-message">Study plan saved successfully!</p>
            </div>

            <div id="buble-container"></div>

            <div class="button-container">
              <button id="save-button" class="save-button">Save Study Plan</button>
            </div>
            
          </div>

        </div>

        <button id="exit-button" class="exit-button">Exit</button>
        <div id="alert-exit-dialog" class="hide">
          <div id="alert-exit-message">Are you sure you want to exit?</div>
          <div id="alert-exit-buttons">
            <button id="alert-exit-ok">Yes</button>
            <button id="alert-exit-cancel">Cancel</button>
          </div>
        </div>
        
    </main>
      
      
    
    <script src="{{ url_for('static', filename='js/script_study_plan.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exit_button.js') }}"></script>

  </body>
</html>
